{% extends 'recipes/base.html'%}

{% block content %}
    <main class="recipe-grid">
    <h1> Your shopping list</h1>
    <div>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <div class="control">
            <button class="button">Delete All</button>
            </div>
        </form>
        <ul>
            {% for item in shoppingitem_list %}
                <li>
                    {{item.food_item.name}}
                </li>
            {% endfor %}

        </ul>
    </div>
    </main>
{% endblock content %}
