{% extends 'base.html' %}

{% block content %}
<main class="recipe-form">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <input type="submit" value="Create" />
      </div>
    </form>
  </main>

{% endblock content %}
