{% extends 'meal_plan/main.html' %}

{% block content %}

  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h2> {{mealplan.name}} </h2>
    <div>


    {% for recipe in mealplan.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{recipe.name}}</a>
        </p>
    {% endfor %}
    </a>

    </div>
  </main>

{% endblock content %}
